################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Template/.vs/Win32Template/v15/Browse.VC.db
/Template/.vs/Win32Template/v15/Browse.VC.opendb
/Template/.vs/Win32Template/v15
/Template/Win32Template/x64/Debug
/Template/x64/Debug
